gradient_top = rgba(255,255,255, 0.1)
gradient_bottom = rgba(0,0,0,0.1)
borders = #000
main_background = rgba(0,0,0,0)
commit_msg_color = #5597D8
sha_color = #999
date_color = #ccc
header_color = #eee
header_shadow_color = rgba(0,0,0,0.7)

@import "src/base-mini.styl"
