gradient_top = #515151
gradient_bottom = #414141
borders = #2a2a2a
main_background = #2e2e2e
commit_msg_color = #5597D8
sha_color = #999
date_color = #ccc
header_color = #eee
header_shadow_color = rgba(0,0,0,0.7)

@import "src/base-mini.styl"
