gradient_top = #f1f1f1
gradient_bottom = #e1e1e1
borders = #cacaca
main_background = #dedede
commit_msg_color = #4183C4
sha_color = #999
date_color = #444
header_color = #111
header_shadow_color = rgba(255,255,255,0.7)

@import "src/base-mini.styl"
